@model VendaModel
@{
    ViewData["Title"] = "Cadastro de Vendas";
}
<div class="text-center">
    <h1>Cadastrar Venda</h1>
</div>

<form asp-controller="Venda" asp-action="AdicionarVenda" method="post">
    <div class="mb-3">
        <label for="IdCliente" class="form-label">ID Cliente</label>
        @*@Html.DropDownListFor(model => model.IdCliente, ViewBag.Clientes as SelectList, "Selecione uma cliente")*@
        <input type="number" required asp-for="IdCliente" class="form-control" id="" placeholder="Digite o id do Cliente">
    </div>
    <div class="mb-3">
        <label for="IdProduto" class="form-label">ID Produto</label>
        <input type="number" required asp-for="IdProduto" class="form-control" id="" placeholder="Digite o id do Produto">
    </div>
    <div class="mb-3">
        <label for="QtdVenda" class="form-label">Quantidade de Produtos</label>
        <input type="number" required asp-for="QtdVenda" class="form-control" id="" placeholder="Digite a quantidade de produtos">
    </div>
    <div class="mb-3">
        <label for="VlrUnitario" class="form-label">Valor Unitário do Produto</label>
        <input type="number" required asp-for="VlrUnitarioVenda" class="form-control" id="" placeholder="Digite o valor unitario dos produtos">
    </div>
    <div class="mb-3">
        <label for="DtVenda" class="form-label">Data da Venda</label>
        <input type="date" required asp-for="DataVenda" class="form-control" id="" placeholder="Digite a data da realização da venda">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Venda" asp-action="Venda">Voltar</a>
</form>