@model ResultadoModel
@{
    ViewData["Title"] = "Editor de Clientes";
}
<div class="text-center">
    <h1>Atenção!!</h1>
    <h3>@Model.Mensagem</h3>
    <h4> (Ou) Contate o administrador do sistema.</h4>
    <a class="btn btn-secondary" role="button" asp-controller="Cliente" asp-action="Cliente">Voltar</a>
</div>
